body{
    font: 20px arial serif 
}
.nav-link{
    color: white
}
.navbar {
    background-color:#618d44;
}
.quem-somos {
    background-color: #32a8e0;
    color: aliceblue;
}
.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}
.parceiros {
    background-color: #f08821;
    color:aliceblue
}
.serviços{
    background-color: aliceblue;
}
.bg-footer{
    background-color: #32a8e0;
    color:aliceblue
}
